@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TicTacToe.Models.Player;

<form action="Register" method="post">

    <fieldset>
        <label id="PlayerName">Name</label>
        <input type="text" required name="PlayerName" value="@Model.PlayerName" />
    </fieldset>

    <fieldset>
        <label id="PlayerEmail">Email</label>
        <input type="email" required name="PlayerEmail" value="@Model.PlayerEmail" />
    </fieldset>

    <fieldset>
        <label id="Picture">Picture</label>
        <input type="file" accept="*/image" name="Picture" value="@Model.Picture" />
    </fieldset>

    <fieldset>
        <label id="PlayerPassword">Password</label>
        <input type="password" required name="PlayerPassword" value="@Model.PlayerPassword" />
    </fieldset>

    <fieldset>
        <label id="confPass">Confirm Password</label>
        <input type="password" required name="confPass" />
    </fieldset>
    <button type="submit">Register</button>
</form>
