@{
    ViewData["Title"] = "Home Page";
}


<section>
    <h1>Choose The Mode</h1>
    <a asp-controller="Game" asp-action="Game" asp-route-mode="1">Single</a>
    <a asp-controller="Game" asp-action="Game" asp-route-mode="2">Two-Player</a>
</section>